@import "../../style/_mixin.scss";

.tabBarNav2Container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    .tabBarNav2{
        height: 0.52rem;
        background-color:#fff; 
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        z-index: 997;
        border:1px solid $color;
        .list{
            box-sizing: border-box;
            border-right:1px solid $color;
            width: 1.4rem;
            height: 0.52rem;
            line-height: 0.52rem;
            text-align: center;
            color: $color;
            font-size: 0.24rem;
            &:last-child{
                border-right:none;
            }
        }
        .current{
            background: $color;
            position: relative;
            color: #fff;
            font-size: 0.28rem;
        }
    }
    
}
