.detailContainer{
    padding-top: 2.2rem;
    background-color: #fff;
    .dataNull{
        padding: 0.2rem;
        color: #ccc;
    }
    .nullBlack{
        display: block;
        color: #ccc;
        padding: 0.3rem 0 0 0.2rem;
    }
}