.activityList{
    overflow: hidden;
    .activity{
        display: block;
        float: left;
        margin-bottom: 0.24rem;
        width: 48%;
        height: 1.0rem;
        background-color: #f7f7f7;
        border:1px solid #e4e4e4;
        font-size: 0.24rem;
        &:nth-child(2n){
            margin-left: 3%;
        }
        .hd{
            padding: 0.18rem 0 0 0.18rem;
            color: #2D3640;
        }
        .ft{
            margin-top: 0.1rem;
            text-align: center;
            color: #ABB7C4;
        }
    }
}