.fundListTitle{
   padding: 0.2rem 0;
   margin-bottom: 0.2rem;
   text-align: center;
   border-bottom: 1px solid  #f2f2f2;
}
.fundlistTop{
    padding: 0 0.2rem;
    line-height: 0.48rem;
    color: #ccc;
}
.fundTextlist{
    .list{
        display: block;
        padding: 0.3rem 0.2rem;
        border-bottom: 1px solid #f2f2f2;
        color: #ccc;
        &:last-child{
            border-bottom: none;
        }
        .fundlistHd{
            margin-bottom: 0.2rem;
            overflow: hidden;
            clear: both;
            span{
                float: left;
                i{
                    color: #2D3640;
                }
            }
            .platname{
                width: 1.7rem;
                color: #2D3640;
            }
            .rate{
                width: 2.6rem;
            }
        }
        .fundlistReasons{
            line-height: 0.44rem;
        }
        .fundlistFt{
            margin-top: 0.1rem;
        }
    }
}