.homeYulunContainer{
    .content{
        padding: 0.24rem 0 0 0.34rem;
        .list{
            
        }
        .null{
            padding: 0.34rem 0;
            color: #999;
            font-size: 0.26rem;
        }
    }
}