@import "../../../style/_mixin.scss";
.reportListContainer{
    padding: 0.24rem 0;
    border-bottom: 1px solid $bottomColor;
    &:last-child{
        border-bottom: none;
    }
    .title{
        font-size: 0.28rem;
        color: #333;
        font-weight: normal;
        line-height: 0.36rem;
    }
    .ft{
        margin-top: 0.16rem;
        color: #bbb;
    }
}