
.homeContainer{
    background: url(../../assets/images/s-bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom:0.8rem;    
    .homeContent{
        padding-top:0.9rem
    }
}
.am-drawer{
    position: fixed;
    z-index: 1001;
    transform: translateX(-100%);
}
.am-drawer-open{
    transform: translateX(0);
}