.basicwp{
    margin-top: 0.4rem;
}
.basicList{
    padding: 0.2rem;
    overflow: hidden;
    li{
        position: relative;
        margin-bottom: 0.1rem;
        padding-left: 1.6rem;
       color: #333;
       line-height: 0.44rem; 
       label{
           position: absolute;
           left: 0;
           top: 0;
           color: #ccc;
       }
    }
}