.searchListContainer{
    background-color: #fff;
    li{
        height: 0.88rem;
        line-height: 0.88rem;
        text-indent: 0.4rem;
        border-bottom: 1px solid #eee;
        .link{
            display: block;
            width: 100%;
            height: 100%;
            color: #333;
        }
    }
    .null{
        display: block;
        color: #999;
        padding: 0.4rem;
    }
}