.detailDataYunyingWp{
    margin-top: 0.4rem;
}
.detailDataYunying{
    padding: 0.2rem;
    padding-right: 0;
    li{
        overflow: hidden;
        clear: both;
        line-height: 0.48rem;
        color: #ABB7C4;
        font-size: 0.24rem;
        span{
            float: left;
            width: 50%;
          
        }
    }   
}