@import "./_mixin.scss";

*{
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); //禁止链接高亮
    -webkit-touch-callout: none;  //禁止链接长按弹出选项菜单
}
body {
    background-color:$bgColor !important;
    font-size: 0.24rem  !important;
  }
  
ul {
    list-style: none;
}

i{
    font-style: normal;
}

.box{
    background-color: #fff;
}

.mt10{
    margin-top: 0.2rem;
}
.mt15{
    margin-top: 0.3rem;
}

.platBox{
    display: inline-block;
    padding: 0 0.12rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 0.06rem;
    color: #bbb;
}

.ptTabBar{
    padding-bottom:1rem;    
    padding-top:0.84rem;
}

.ptNoTab{
    padding-top: 0.84rem;
}

.ptTab{
    padding-top: 1.6rem;
}
.ptTab2{
    padding-top: 2.9rem;
}

.ptTab3{
    padding-top: 2.06rem;
}

.ptTab4{
    padding-top: 2.16rem;
}

.ptTab13{
    padding-top: 1.3rem;
}


.null{
    color: #999;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1001;
}