.detailYulun{
    .loadMore{
        margin: 0.1rem 0.3rem 0.3rem 0.3rem;
    }
}
.detailYulunList{
    padding-top: 0.2rem;
    overflow: hidden;
    li{
        margin-bottom: 0.2rem;
        padding:0 0.2rem;
        padding-bottom: 0.2rem;
        border-bottom: 1px solid #f2f2f2;
        .title{
            display: block;
            margin-bottom: 0.2rem;
            line-height: 0.4rem;
            color: #333;
        }
        .update{
            color: #ccc;
        }
    }
}