.listupDateTime{
    padding: 0.2rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #BBE2FF;
    .icon{
        position: relative;
        top: 0.02rem;
    }
    .time{
        padding:0 0.3rem 0 0.05rem;
    }
    .am-icon-xxs{
        width: 0.32rem;
        height: 0.32rem;
    }
}
.listContainer{
    position: relative;
    
}
.table{
    display: flex;
    position: relative;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling : touch;
    z-index:1;    
}
.tabList{
    background-color: #fff;
    .isbest{
        background-color: #E3F3FB;
    }
    .item{
        span{
          position: relative;
          display: flex;          
          font-size: 0.24rem;
          color: #999;
        }
        
        .ic1{
            padding-left: 0.3rem;
            width: 1rem;
        }
        .ic2{
            width: 1.78rem;
        }
        .icon{
           position: relative;
           top: 0;
           left: 0;
           .am-icon-xxs{
            width: 0.24rem;
            height: 0.24rem;
           }
        }
        .tabTag{
            height: 0.38rem;
            position: absolute;
            bottom: 0.2rem;
            left: 0.3rem;
            .hongbao{
                display: inline-block; 
                width: 2.1rem;
                height: 0.38rem;
                line-height: 0.38rem;   
                text-align:  center; 
                background: #FFBC41;     
                border-radius: 0.08rem;  
                color: #fff;
                font-size: 0.24rem;
            }
        }        
        .icc3{
            font-weight: bold;
            color: #0096e6;
        }
    }
    dt,dd{   
        display: flex;
    }
    dt{
        height: 0.8rem;   
        align-items:center;
        border-bottom: 1px solid #eee;
    }
    .doubleItem{
        height: 1rem;
        line-height: 0.4rem;
       
    }
    dt.doubleItem{
        align-items:flex-start;
    }
    dd{
        padding: 0.3rem 0;
        height: 0.28rem;  
        border-bottom: 1px solid #eee;
        .ic1,.ic2{
            color: #333;
        }
    }
    dd.itemRowH{
       padding-bottom: 0.72rem;       
    }
    
}

.doubleTabList{
    dd.itemRowH{   
        .db{
            margin-top:0.16rem; 
            display: block;
        }
 
         span{
             display: block;
         }
 
     }
}
.tabList-Left{
    z-index:2;    
    background: #fff;
    width: 3.08rem;
    position: absolute;
    top:0;
    left: 0;
    dd,dt{
       
       position: relative;
    }
}
.fixed{
     box-shadow: 0 0 0.1rem #ccc;
}

.listBotttom{
    padding: 0.3rem;
    background-color: #fff;
}


.tabListTag{
     dd{
         padding: 0.25rem 0;
         height: 0.82rem;
     }
     .item .tabTag{
         bottom: 0.25rem;
     }
     .up2{
         margin-top: 0.24rem;
         display: flex;
         font-size: 0.24rem;
         color: #999;
         font-weight: normal;
     }
}


.tagsTab{
    .tags{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        padding-left:0.54rem; 
        .icon{
            position: absolute;
            top: -0.04rem;
            left: 0;
            .am-icon-xxs{
                width: 0.44rem;
                height: 0.44rem;
            }
        }
        .tag{
            padding: 0 0.1rem;
            margin:0 0.12rem 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 0.36rem;
            background-color: #0096E6;
            border-radius: 0.08rem;
            color: #fff;
            svg{
                margin-left: 0.06rem;
            }
        }
        .null{
          background-color:transparent;
          color: #999;
          line-height: 0.36rem;
        }
    }
    .tags.bad{
        margin-top: 0.1rem;
        .tag{
            background-color: #bbb;
        }
    }
}