.GongshangWp{
    padding: 0.2rem;
}
.GongshangList{
    padding-top: 0.16rem;
    overflow: hidden;
    li{
        position: relative;
        padding-left: 2.2rem;
        margin-bottom: 0.2rem;
        color: #333;
        line-height: 0.44rem;
        label{
            position: absolute;
            left: 0;
            top: 0;
            color: #abb7c4;
        }
    }
    .first{
        padding: 0;
    }
    .more{
        display: block;
        margin-top: 0.1rem;
        color: #abb7c4;
    }
}