.sideBarContainer{
   
    padding: 0.4rem;
    display:flex;
    box-sizing: border-box;
    flex-direction:column;
    height: 100%;
    color: #8c96a0;
    .sideBarHeader{
        margin-top: 0.5rem;
        height: 1.2rem;
        flex-direction:row;
        display: flex;     
        align-items:center;  
        flex: none;
        .left{
            display: flex; 
            align-items:center;  
            .portraitbig{
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
            }
            .name{
                padding-left: 0.2rem;
                color: #fff;
                font-weight: bold;
            }
        } 
        .right{
            display: block;
            text-align: right;
            flex:1
        }
    }
    .sideBarListTitle{
        margin: 0.5rem 0;
        position: relative;
        .set{
            position: relative;
            top: 0.06rem;
            padding-right: 0.2rem;
        }
        .more{
            position: absolute;
            right: 0;
            top: 0;
            color: #666;
        }      
    }
    .sideBarBody{
        flex: 1;
        overflow-y: auto;
        .link{
            display: block;
            margin-bottom: 0.4rem;
            .hd{
                display: flex;
                flex-direction:row;
                margin-bottom: 0.26rem;
                span{
                    display: block;
                    flex:none;
                    font-size: 0.24rem;
                }
                .platName{
                    width:2rem;
                    color: #fff;
                }
                .state{
                    width: 1.6rem;
                    color: #009900;
                }
                .stateZhengyi {
                    color: #FFFF00;
                }
                .stateBlack {
                    color: red;
                }
                .shifan{
                    color: #009900;
                }
            }
            .bd{
                display: flex;
                flex-direction:row;
                span{
                    display: block;
                    flex:none;
                    font-size: 0.24rem;
                    color: #666;
                }
                .pm{
                    width:2rem; 
                }
                .arrow{
                    width: 0.6rem;
                }
            }
        }
        .null{
            padding-left: 0.48rem;
            color: #393f44;
        }
    }
    .sideBarFooter{
        display:flex;
        flex-direction:column;
        padding-top: 0.3rem;
        flex: none;
        height: 2rem;
        border-top: 1px solid #2e3438;
        color: #8c96a0;
        .list{
            flex: 1;
            li{
                line-height: 0.52rem;
            }
            .icon{
                position: relative;
                top: 0.06rem;
            }
            .text{
                padding-left: 0.2rem;
            }
        }
        .logoWp{
            flex: none;
            
            text-align: center;
        }
        .logo{
            width: 1.36rem;
            height: 0.36rem;
           
        }
    }

}
