.pingceDetailContainer{
    
    .content{
        padding: 0.2rem 0.3rem 1rem 0.3rem;
        background-color: #fff;
        .top{
            padding-bottom: 0.2rem;
            margin-bottom: 0.2rem;
            border-bottom: 1px solid #f2f2f2;
            .title{
                margin-bottom: 0.2rem;
                font-size: 0.28rem;
                color: #101010;
                line-height: 0.36rem;
            }
            .sourceCon{
                margin-bottom: 0.2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: #bbb;
            }
            .relate{
                position: relative;
                padding-left: 0.75rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                line-height: 0.32rem;
                color: #bbb;
                .label{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .plat{
                    margin-right: 0.2rem;
                    color: #83CAFF;
                   
                }
            }
        }
        .con{
            img{
                max-width: 100%;
            }
        }
    }
    .foot{
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0 0.2rem 0 0.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        height: 1rem;
        background-color: #fff;
        border-top: 1px solid #eee;
        .inputBtn{
            margin-right: 0.2rem;
            flex: 1;
            height: 0.6rem;
            text-align: left;
            background-color: #eee;
            border-radius: 0.3rem;
            color: #bbb;
            border: none;
            text-indent: 0.3rem;
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1rem;
            height: 0.6rem;
            text-align: center;
            background-color: #fff;
        }
        .reviewsBtn{
            position: relative;
            .num{
                position: absolute;
                top: 0.04rem;
                left: 0.6rem;
                color: #737373;
            }
        }
    }
}