.healthTop{
    padding: 0.24rem 0.1rem 0.2rem 0.2rem;
    color: #ABB7C4;
    font-size: 0.24rem;
    line-height: 0.48rem;
}
.healthInfoHead{
    padding: 0.2rem;
    overflow: hidden;
    .info{
        overflow: hidden;
        clear: both;
        span{
            float: left;
            color: #ABB7C4;
            font-size: 0.25rem;
        }
        .ic1{
            color: #2D3640;
            width: 1.4rem;
        }
        .ic2{
            width: 1.4rem;
            color: #2D3640;
            font-weight: bold;
        }
        b{
            color: #2E99E8;
        }
    }
    p{
        margin-top: 0.15rem;
        color: #ccc;
        font-size: 0.24rem;
    }
    
}
.diagnoseBox{
    padding: 0.2rem;
    .fumianList{
        margin-bottom: 0.2rem;
        display: block;
        color: #999;
        font-size: 0.24rem;
        line-height: 0.36rem;
    }
    .diagnoseText{
        color: #ABB7C4;
        font-size: 0.24rem;
        line-height: 0.36rem;
        font-weight: normal;
    }
    .diagnoseState{
        margin: 0.2rem 0;
        color: #999;
        .qushi{
            padding-left: 0.6rem;
        }
    }
    .good{
        color: #009900;
    }
    .normal {
        color: #ff9500;
    }
    .bad {
        color: #D62222;
    }
}

.diagnosePinpai{
    overflow: hidden;
    position: relative;
    padding-left: 1.2rem;
    margin-bottom: 0.2rem;
    dt{
        position: absolute;
        left: 0;
        top: 0;
        height: 0.4rem;
        line-height: 0.4rem;
        color: #999;

    }
    dd{
        clear: both;
        overflow: hidden;
        span{
            display: inline-block;
            float: left;
            margin-right: .08rem;
           padding: 0 0.06rem;
           height: 0.4rem;
           line-height: 0.4rem;
           min-width: 0.56rem;
           text-align: center;
           background-color: #f8f8f8;
           color: #ccc;
           font-size: 0.24rem;
        }
        .on{
            background-color: #2fae36;
            color: #fff;    
        }
    }
}
.diagnoseInstruction{
    margin-top: 0.2rem;
    font-size: 0.24rem;
   color: #ABB7C4;
   line-height: 0.4rem; 
}

.rongziInfo{
    line-height: 0.36rem;
    color: #999;
    font-size: 0.24rem;
}

.barEchartH{
    margin-top: 0.1rem;
    width: 6.0rem;
    height: 3.6rem;
}
.barEchartPD{
    padding: 0.2rem;
}