
.detailComment{
    .loadMore{
        margin: 0.1rem 0.3rem 0.3rem 0.3rem;
    }
}
.detailCommentList{
    padding-top: 0.2rem;
    overflow: hidden;
    li{
        margin-bottom: 0.2rem;
        padding:0 0.2rem;
        padding-bottom: 0.2rem;
        border-bottom: 1px solid #f2f2f2;
        .hd{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.2rem;
            overflow: hidden;
            clear: both;
            font-size: 0.26rem;
            span{
                float: left;
                line-height: 0.32rem;
            }
            .name{
                margin-right:0.2rem;
                width:2rem;
                color: #333;
                overflow: hidden;
            }
            .type{
                img{
                    width: 0.32rem;
                    height: 0.32rem;
                }
            }
            .update{
                color:#ccc;
            }
        }
        
        p{
            color: #777;
            line-height: 0.4rem;
        }
    }
}